# Swift Package Manager
/.build
/.swiftpm
/Packages

# Xcode
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store
*.swp
*~

# Vim
*.swo

# VS Code
.vscode/
